:root {
  --outside-top-color: #fe5000;
  --outside-bottom-color: #084616;
  --hallway-top-color: #00A638;
  --hallway-bottom-color: #00A638;
  --library-top-color: #BB5E4A;
  --library-bottom-color: #3C4043;
  --lab-top-color: #61A9FF;
  --lab-bottom-color: #95A5B9;
  --gym-top-color: #77A687;
  --gym-bottom-color: #CEFFDE;
}

.black-screen {
  background-color: #00C142;
}

.outside {
  background: linear-gradient(
    to bottom,
    var(--outside-top-color) 0%,
    var(--outside-top-color) 50%,
    var(--outside-bottom-color) 50%,
    var(--outside-bottom-color) 100%
  );
}

.hallway {
  background: linear-gradient(
    to bottom,
    var(--hallway-top-color) 0%,
    var(--hallway-top-color) 50%,
    var(--hallway-bottom-color) 50%,
    var(--hallway-bottom-color) 100%
  );
}

.library {
  background: linear-gradient(
    to bottom,
    var(--library-top-color) 0%,
    var(--library-top-color) 50%,
    var(--library-bottom-color) 50%,
    var(--library-bottom-color) 100%
  );
}

.lab {
  background: linear-gradient(
    to bottom,
    var(--lab-top-color) 0%,
    var(--lab-top-color) 50%,
    var(--lab-bottom-color) 50%,
    var(--lab-bottom-color) 100%
  );
}

.gym {
    background: linear-gradient(
    to bottom,
    var(--gym-top-color) 0%,
    var(--gym-top-color) 50%,
    var(--gym-bottom-color) 50%,
    var(--gym-bottom-color) 100%
  );
}

  @media (max-width : 1000px) {
    .outside {
      background: var(--outside-bottom-color);
    }
    .hallway {
      background: var(--hallway-bottom-color);
    }
    .library {
      background: var(--library-bottom-color);
    }
    .lab {
      background: var(--lab-bottom-color);
    }
    .gym {
      background: var(--gym-bottom-color);
    }
}
