/* Environments used to change colors per level, not really needed anymore except for .black-screen*/

:root {
  --outside-top-color: #00C142;
  --outside-bottom-color: #00C142;
  --hallway-top-color: #00C142;
  --hallway-bottom-color: #00C142;
  --library-top-color: #BB5E4A;
  --library-bottom-color: #3C4043;
  --lab-top-color: #61A9FF;
  --lab-bottom-color: #95A5B9;
  --gym-top-color: #77A687;
  --gym-bottom-color: #CEFFDE;
}

.black-screen {
  background-color: #00C142;
}
