

:root {
  --title-fs-main: 5vw;
  --title-fs-sub: 1vw;
  --title-player-bottom: 140.5;
  --title-text-top: 4.5vw;

  --fs-xlarge: clamp(1rem, 10vw + 1rem, 3.5rem);
  --fs-large: 0.2rem;
  --fs-med: clamp(0.5rem, 10vw + 1rem, 1rem);
}


@media (max-width: 40em) {
  :root {
    --title-player-bottom: 140.5;

    --fs-xlarge: clamp(1rem, 10vw + 1rem, 3.5rem);
    --fs-large: 0.2rem;
    --fs-med: clamp(0.5rem, 10vw + 1rem, 1rem);;
  }
}
