/* Small Screens */
@media (min-width: 0em) {
  :root {
    --title-fs-main: 6rem;
    --title-fs-sub: 1.6rem;
    --title-player-bottom: 140.5;
    --title-text-top: 30%;

    --fs-xlarge: 350%;
    --fs-large: 200%;
    --fs-med: 130%;

    --game-over-fs: 100%;
    --game-over-color: #003522;

    --col-width: 30%;
    --col-margin-top: 15%;
    --col-margin-bottom: 10%;
  }
}

/* 768px - ipad vertical */
@media (min-width: 48em) {
  :root {
    --title-fs-main: 6rem;
    --title-fs-sub: 1.6rem;
    --title-player-bottom: 140.5;
    --title-text-top: 30%;

    --fs-xlarge: 350%;
    --fs-large: 200%;
    --fs-med: 130%;

    --game-over-fs: 100%;
    --game-over-color: #003522;

    --col-width: 30%;
    --col-margin-top: 15%;
    --col-margin-bottom: 10%;
  }
}

/* 1024px - ipad horizontal */
@media (min-width: 85.375em) {
  :root {
    --title-fs-main: 6rem;
    --title-fs-sub: 1.6rem;
    --title-player-bottom: 140.5;
    --title-text-top: 30%;

    --fs-xlarge: 350%;
    --fs-large: 200%;
    --fs-med: 130%;

    --game-over-fs: 100%;
    --game-over-color: #003522;

    --col-width: 30%;
    --col-margin-top: 15%;
    --col-margin-bottom: 10%;
  }
}

/* 1920px */
@media (min-width: 120em) {
  :root {
    --title-fs-main: 6rem;
    --title-fs-sub: 1.6rem;
    --title-player-bottom: 140.5;
    --title-text-top: 30%;

    --fs-xlarge: 350%;
    --fs-large: 200%;
    --fs-med: 130%;

    --game-over-fs: 100%;
    --game-over-color: #003522;

    --col-width: 30%;
    --col-margin-top: 15%;
    --col-margin-bottom: 10%;
  }
}

/* 2560px ultrawide horizontal */
@media (min-width: 160em) {
  :root {
    --title-fs-main: 6rem;
    --title-fs-sub: 1.6rem;
    --title-player-bottom: 140.5;
    --title-text-top: 30%;

    --fs-xlarge: 350%;
    --fs-large: 200%;
    --fs-med: 130%;

    --game-over-fs: 100%;
    --game-over-color: #003522;

    --col-width: 30%;
    --col-margin-top: 15%;
    --col-margin-bottom: 10%;
  }
}
