.game-over-screen {
    position: absolute;
    text-align: center;
    z-index: 10;
    
    top: 53%;
    left: 50%;
    transform: translate(-60%, -50%); 
  }

  .game-over-title {
    color:#EC472B; 
    font-size: 3vw;
    margin-bottom: 8vh;
  }
  
  .game-over-font {
    color: #CEFFDE;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 0.8vw;
    line-height: 1.8vw;
  }

  .score-input {
    background: transparent;
    border: none;
    outline: none;
    caret-color: rgb(0, 0, 0);
    color: yellow;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    text-transform: uppercase;
  }

  ::placeholder { /* for high score input box */
    color: yellow;
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row {
    position: relative;
    width: 85%;
    left: 11%;
    z-index: 10;
    display: table;
    clear: both;
    margin-bottom: 3vw;
  }
  
  .column {
    display: inline-block;
  }

  @media (orientation: portrait) {

    .game-over-screen {
      top: 2%;
      transform: translate(-50%, 20%);
    }

    .game-over-title {
      font-size: 7vw;
      margin-bottom: 5vh;
    }

    .game-over-font {
      font-size: 3vw;
      line-height: 6vw;
    }

    .row {
      left: 8%;
      width: 90%;
      margin-bottom: 10%;
    }
}