/*    height = object size
    --bottom = object height from ground  */

.apple {
    height: 7%;
    --bottom: 70;
}

.coin {
    height: 6%;
    --bottom: 65;
}

/* Trash */
.obstacle1 {
    height: 13%;
    --bottom: 10.5;
}

/* Puddle */
.obstacle2 {
    height: 11%;
    --bottom: 13.7;
}

/* Backpack */
.obstacle3 {
    height: 8%;
    --bottom: 16.7;
}

/* Book Stack */
.obstacle4 {
    height: 6%;
    --bottom: 17.9;
}

/* Werewolf */
.werewolf {
    height: 13%;
    --bottom: 18;
}

/* UFO */
.ufo {
    height: 11%;
    --bottom: 25;
}

/* Some CSS that covers everything */
.base-obstacle {
    position: absolute;
    --left: 0;
    left: calc(var(--left) * 1%);
    bottom: calc(var(--bottom) * 1%);
    /* will-change: transform; */
    z-index: 0;
}

/* Some CSS that covers just obstacles */
/* .obstacle1, .obstacle2, .obstacle3, .obstacle4, .obstacle5, .obstacle6 .cactus {
    
} */
