/*    height = object size
    --bottom = object height from ground  */

.apple {
    height: 7%;
    --bottom: 14;
}   

/* Rocks */
.obstacle1 {
    height: 9%;
    --bottom: 14;
}

/* Puddle */
.obstacle2 {
    height: 8%;
    --bottom: 12;
}

.obstacle3 {
    height: 10%;
    --bottom: 14;
}

/* Books */
.obstacle4 {
    height: 9%;
    --bottom: 14;
}

/* Basketball */
.obstacle5 {
    height: 10%;
    --bottom: 14;
}

/* Some CSS that covers everything */
.obstacle1, .obstacle2, .obstacle3, .obstacle4, .obstacle5, .apple, .cactus {
    position: absolute;
    --left: 0;
    --bottom: 41.25;
    left: calc(var(--left) * 1%);
    bottom: calc(var(--bottom) * 1%);
    will-change: transform;
}

/* Some CSS that covers just obstacles */
.obstacle1, .obstacle2, .obstacle3, .obstacle4, .obstacle5, .cactus {
    z-index: 1;
}
