/*    height = object size
    --bottom = object height from ground  */

.apple {
    height: 7%;
    --bottom: 65;
}

.coin {
    height: 6%;
    --bottom: 65;
}

/* Trash */
.obstacle1 {
    height: 12%;
    --bottom: 34;
}

/* Puddle */
.obstacle2 {
    height: 15%;
    --bottom: 32.4;
}

/* Backpack */
.obstacle3 {
    height: 10%;
    --bottom: 39;
}

/* Werewolf */
.obstacle4 {
    height: 10%;
    --bottom: 40.4;
}

/* UFO */
.obstacle5 {
    height: 13%;
    --bottom: 40.6;
}

/* Some CSS that covers everything */
.base-obstacle {
    position: absolute;
    --left: 0;
    left: calc(var(--left) * 1%);
    bottom: calc(var(--bottom) * 1%);
    will-change: transform;
    z-index: 0;
}

/* Some CSS that covers just obstacles */
/* .obstacle1, .obstacle2, .obstacle3, .obstacle4, .obstacle5, .obstacle6 .cactus {
    
} */
