@font-face {
  font-family: 'neuehaas';
  src: url(../NeueHaasGroteskDisplayPro/NeueHaasDisplayMediu.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --title-color-light: #FFF1CC;
}

.start-screen {
  position: relative; 
  /* height: 100vh; */
  width: 100%;
  aspect-ratio: auto 16 / 9;

  overflow: hidden; /* hidden needs to go here and not in container */
}

.title-container {
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0%;
}

.moveable-item {
  position: absolute;
  /* Set up positioning */
  top: calc(var(--top) * 1px);
  will-change: transform;
}

.start-screen-img {
  position: absolute;
  width: 100%;
  /* height: 280%; */
  height: auto;
  top: 0vh;
}

/* This is so the little logo button matches the BNS website */
.ui-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 900px;
  height: 100%;
  max-width: 1920px;
}

.title-text-container {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top: 1vh;
  /* border: 2px solid red; */
  /* transform: translate(-50%, -50%); */

}

.start-screen-logo-button {
  position: relative;
  /* top: 1.1%; */
  top: 1vh;
  /* left: 0%; */
  height: 5vh;
  margin-bottom: 9vh;
}

.start-screen-logo-img {
  height: 41vh;
  margin: 0 auto;
  margin-top: 9.5vh;
  margin-bottom: 8.5vh;
}

.title-text {
  display: block;
  text-decoration: none;
  font-family: 'neuehaas';
  white-space: nowrap;
  z-index: 3;
  border: none;
  font-size: 3vh;
  line-height: 3.9vh;
  margin: 0 auto;
  color: var(--title-color-light);
}

/* Not used now that title is an image */
.title-text h2 {
  color: var(--title-color-light);
  font-size: 7vh;
  line-height: 5.5vh;
}



.tut-text {
  position: absolute;
  font-size: 2vh;
  line-height: 3.7vh;
  white-space: nowrap;
  color: var(--title-color-light);
  
  text-align: center;
  transform: translate(0%, 0%);
}

a:link a:visited a:active { 
  text-decoration: none;
  text-decoration-color: var(--title-text-color);
}

.start-screen-player {
  height: 5vw;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  --left: 13;
  --top: 136.6;
  --bottom: -100;
}

.positioned-item {
  position: absolute;

  z-index: 10;
  bottom: calc(var(--bottom) * 1px);
  left: calc(var(--left) * 1%);
}

/* for horizontal iphone screens only, just to match logo icon to BNS website */
@media only screen and (max-width: 1000px)  {
  body {
    justify-content: flex-start;
  }

  .start-screen {
    overflow: visible;
  }

  .start-screen-logo-button {
    position: relative;
    top: 1vh;
    height: 5vh;
    transform: translate(0%, 00%);
    margin-bottom: 6vh;
  }

  .start-screen-logo-button-leaderboard {
    position: absolute;;
    top: 1.5vh;
    left: 3vw;
    height: 5vh;
    transform: translate(0%, 0%);
    margin-bottom: 0 auto;
  }

  .start-screen-logo-img {
    height: 27vh;
    /* margin-top:    15vw;
    margin-bottom: 15vw; */
    
    margin-top: 7vh;
    margin-bottom: 7vh;
  }

  .title-text {
    /* font-size: 6vh;
    line-height: 8vh; */
    font-size: 2.8vh;
    line-height: 4vh;
    margin: 0 auto;
  }

  .ui-container {
    height: 100%;
  }

  .tut-text {
    text-align: center;
    font-size: 2.8vw;
    line-height: 5.8vw;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}