@font-face {
  font-family: 'neuehaas';
  src: url(../NeueHaasGroteskDisplayPro/NeueHaasDisplayMediu.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --title-color-light: #FFF0CC;
}

.start-screen {
  position: relative; 
  /* height: 100vh; */
  width: 100%;
  aspect-ratio: auto 16 / 9;

  overflow: hidden; /* hidden needs to go here and not in container */
}

.title-container {
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0%;
}

.start-screen-img {
  position: absolute;
  width: 100%;
  /* height: 280%; */
  height: auto;

  top: -0vh;
  --top: -0;
}

.start-screen-logo-img {
  width: 30vw;
}

.start-screen-logo-button {
  position: absolute;
  top: 1vw;
  left: 15vw;
  width: 2.5vw;
}

.title-text-container {
  position: absolute;
  /* left: 55.9vw;
  top: 10vw; */
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.title-text {
  display: block;
  text-decoration: none;
  font-family: 'neuehaas';
  white-space: nowrap;
  z-index: 3;
  border: none;
  font-size: 1.5vw;
  line-height: 1.4vw;
  margin: 0 auto;
  color: var(--title-color-light);
}

.tut-text {
  position: absolute;
  color: var(--title-color-light);
  font-size: 0.9vw;
  line-height: 2.2vw;
  --left: 30;
}


.title-text h2 {
  color: var(--title-color-light);
  font-size: 5.5vw;
  line-height: 5.5vw;

  
}

a:link a:visited a:active { 
  text-decoration: none;
  text-decoration-color: var(--title-text-color);
}

.start-screen-player {
  height: 4vw;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  --left: 20;
  --top: 136.6;
  --bottom: -100;
}

.positioned-item {
  position: absolute;

  z-index: 10;
  bottom: calc(var(--bottom) * 1px);
  left: calc(var(--left) * 1%);
}

.moveable-item {
  position: absolute;
  /* Set up positioning */
  top: calc(var(--top) * 1px);
  will-change: transform;
}

@media (orientation: portrait) {
  body {
    justify-content: flex-start;
  }

  .start-screen {
    overflow: visible;
  }

  .title-text-container {
    top: 100%;
  }

  .title-text {

    font-size: 5.5vw;
    line-height: 6vw;
    margin: 0 auto;
  }

  .start-screen-logo-img {
    width: 60vw;
  }

  .start-screen-logo-button {
    position: relative;
    top: 5vw;
    left: 47vw;
    width: 5vw;
  }

  .tut-text {
    font-size: 4vw;
    line-height: 5vw;
    --left: 10;
  }
}