.start-screen {
  position: relative;
  /* height: 100vh; */
  width: 100%;
  aspect-ratio: auto 16 / 9;
  overflow: hidden; /* hidden needs to go here and not in container */
}

.title-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
}

.start-screen-img {
  position: absolute;
  width: 100%;
  /* height: 280%; */
  height: auto;

  top: -0vh;
  --top: -0;
}

.title-text-container {
  position: absolute;
  
  left: 55.9vw;
  top: 10vw;
}

.title-text {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  z-index: 3;
  font-family: inherit;
  font-style: inherit;
  border: none;
  font-size: 0.94vw;
  line-height: 1.4vw;
  color: #003522;
}

.mini-container  {
  margin-bottom: -4vw;
  margin-top: 4vw;
}

.title-text h2 {
  color: #ffffff;
  font-size: 5.5vw;
  line-height: 5.5vw;
}


a:link a:visited a:active { 
  text-decoration: none;
  text-decoration-color: var(--title-text-color);
}

.start-screen-player {
  position: absolute;
  height: 4vw;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  --left: 20;
  --top: 136.6;
  --bottom: -100;
  z-index: 10;
  bottom: calc(var(--bottom) * 1px);
  left: calc(var(--left) * 1%);
}

.moveable-item {
  position: absolute;
  /* Set up positioning */
  top: calc(var(--top) * 1px);
  will-change: transform;
}
