.text-blink {
  animation: blinker 1.3s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.clickable {
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
}

.clickable:hover {
  color: rgb(181, 184, 0);
}

.score-ui {
  position: absolute;
  color: #ceffde;
  font-size: 1vw;
  top: 1.5vw;
}
.score {
  left: 2vw;
}

.high-score {
  right: 3vmin;
}

.textContainer {
  position: relative;
  overflow: visible;
  z-index: 10;
  height: 100vh;
}

.game-over-screen,
.home-screen,
.pause-screen {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pause-screen {
  z-index: 3;
  font-size: 1.5vw;
}

.home-screen {
  font-size: 2vw;
}


