.text-blink {
  animation: blinker 1.3s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.clickable {
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  text-decoration: none;   
}

.score-ui {
  position: absolute;
  color: #00450F;
  font-size: 1vw;
  top: 1.5vw;
}
.score {
  left: 3vw;
}

.high-score {
  right: 3vw;
}

.textContainer {
  position: relative;
  overflow: visible;
  z-index: 10;
}

.space-to-start,
.pause-screen {
  position: absolute;
  text-align: center;
  top: 22vw;
  left: 42vw;
  color: #CEFFDE;
  z-index: 3;
  font-size: 1vw;
}

.space-to-start {
  top: 20vw;
}

@media (orientation: portrait) {
    .space-to-start,
    .pause-screen {
      font-size: 2vw;   
      top: 72vw;
      left: 33vw;
  }

  .score-ui {
    font-size: 1.5vw;
    top: 0vw;
    padding: 5px;
  }

  .score {
    left: 14vw;
  }
  
  .high-score {
    right: 36vw;
  }
}



