button, .back-to-bns-button, .sound-toggle-button {
    position: absolute;
    text-align: center;
	display: inline-block;
    padding: 0.8vw 1vw 0.6vw 1vw;
    background-color: #00450F;
    color: #00C142;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    z-index: 3;
    font-family: inherit;
    border: none;
}

button {
    width: 10vw;
    font-size: 1vw;
}

.back-to-bns-button {
    width: 15vw;
    left: 5vw;
    --top: 80;
}

.sound-toggle-button {
    font-size: 1.1vw;
    left: 44vw;
    --top: 80;
}

.start-screen-bunny {
    width: 6%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    left: 20%;
    --top: 489.3;
}

.blink_me {
    animation: blinker 1s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.score {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.0vw;
    left: 2vw;
    top: 1.5vw;
}

.high-score {
    right: 1vmin;
}

.game-over-screen, .home-screen, .pause-screen {
    position: absolute;
    text-align: center;
    white-space: nowrap;
    color: #00450F;
    font-size: 1.25vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pause-screen {
    z-index: 3;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
}

.home-screen {
    color: yellow;
    font-size: 2vw;
}
.game-over-screen {
    font-size: 1.25vw;
    line-height: 0.8vw;
    white-space: pre;
    z-index: 2;
    top: 42%
}

@media (max-width : 1000px) {
    
}

