/* This page handles a lot of the visual aspects of the game, including the display borders of the game itself */

@import "css/obstacles.css";
@import "css/environment-colors.css";
@import "css/ui.css";
@import "css/title-screen.css";

*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
    min-height: 100vh;
    max-height: 100vh; /* need both min and max to work */
    width: auto;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    background-color: #00300a;
  }

  .world {
    top: 50%;
    position: relative;
    background-color: #00C142;
    overflow: hidden;
    width: 100%;
    color: #00450F;
}

.hide-img {
    opacity: 0.0;
}

.text-shadow {
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.hide {
    display: none;
}

.ground {
    --left: 0;
    position: absolute;
    /* when updating width: make sure to change ground width value of second ground piece in setupGround() in ground.js */
    /* width is 1% bigger to cover boundary glitches */
    height: 100%;
    width: 301%;
    bottom: 0%;
    left: calc(var(--left) * 1%);
    will-change: transform;
    object-fit: cover;
}

.pixel-scale {
    /* Scale Pixel Art!! */
    image-rendering: pixelated;
    /* image-rendering: -moz-crisp-edges; */
    image-rendering: crisp-edges;
}

.player {
    position: absolute;
    left: 20%;
    /* height: 14%; Player size */
    max-height: 18%;
    max-width: 6%;
    z-index: 2;
    
    /* Height Setup, Also Change player.js heightFromGround to match */
    --bottom: 41; 
    bottom: calc(var(--bottom) * 1%);
    will-change: transform;

    /* Scale Pixel Art!! */
    image-rendering: pixelated;
    /* image-rendering: -moz-crisp-edges; */
    image-rendering: crisp-edges;
}

.player::after {
    clear: both;
    overflow: visible;
}

.zindex-default{
    z-index: 0;
}

.zindex-top {
    z-index: 10;
}

@media (max-width : 1000px) {
    body {
        justify-content: flex-start;
    }
}