/* This page handles a lot of the visual aspects of the game, including the display borders of the game itself */

@import "css/font-sizes.css";
@import "css/obstacles.css";
@import "css/environment-colors.css";
@import "css/ui.css";
@import "css/title-screen.css";


*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    min-height: 100vh;
    max-height: 100vh; /* these need to stay in body */

    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    background-color: #00450F;
  }

  .world {
    position: relative;
    top: 50%;
    background-color: #BF92FF;
    overflow: hidden;
    width: 100%;
    color: #CEFFDE;
    padding-top: (16 / 9 * 100);
}

  .game-container {
    width: 100%;
    height: 100%;
    will-change: transform;

    margin: 0;
  }



.hide-img {
    opacity: 0.0;
    pointer-events: none;
}

.hide {
    display: none; 
    pointer-events: none;
}

.ground {
    --left: 0;
    position: absolute;
    /* when updating width: make sure to change ground width value of second ground piece in setupGround() in ground.js */
    /* width is 1% bigger to cover boundary glitches */
    width: 151%;
    height: auto;

    top: 10.4%;
    left: calc(var(--left) * 1%);
    will-change: transform;
    object-fit: cover;
}

.player {
    position: absolute;
    left: 20%;
    /* height: 14%; Player size */
    max-height: 18%;
    max-width: 6%;
    z-index: 2;
    
    /* Height Setup, Also Change player.js heightFromGround to match */
    --bottom: 40.5; 
    bottom: calc(var(--bottom) * 1%);
    will-change: transform;

    /* Scale Pixel Art!! Doesnt work on Safari :( */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

/* is this needed? */
.player::after {
    clear: both;
    overflow: visible;
}

.pet {
    position: absolute;
    left: 15%;
    width: 3%;
    z-index: 2;
    
    /* Height Setup, Also Change player.js heightFromGround to match */
    --bottom: 40.5; 
    bottom: calc(var(--bottom) * 1%);
    will-change: transform;

    /* Scale Pixel Art!! Doesnt work on Safari :( */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}



@media (max-width : 1000px) {
    body {
        justify-content: flex-start;
    }
}